<form>
  <div id="owners">
    <label id="owners-label">owners: </label>
    <input id="owners-input" type="text"/>
  </div>
  <div id="forum">
    <label id="forum-label">forum: </label>
    <input id="forum-input" type="text">
  </div>
  <div id="completion-status">
    <label id="completion-status-label">complete/closed: </label>
    <input id="completion-status-input" type="text">
  </div>
  <div id="priority">
    <label id="priority-label">priority: </label>
    <input id="priority-input" type="text">
  </div>
  <div id="short-description">
    <label id="short-description-label">short-description: </label>
    <input id="short-description-input" type="text">
  </div>
  <div id="long-description">
    <label id="long-description-label">long-description: </label>
    <input id="long-description-input" type="text">
  </div>    
</form>