<div *ngIf="noteFromDatabase">
  <table>
    <tr>
      <th>owners</th>
      <th>assigned</th>
      <th>forum</th>
      <th>completion</th>
      <th>priority</th>
      <th>short-description</th>
      <th>long-description</th>
    </tr>
    <tr>
      <td class="header" id="owners">
      {{noteFromDatabase['owners']}}
      </td>
      <td class="header" id="assigned">
        {{noteFromDatabase['assigned']}}
      </td>
      <td class="header" id="forum">
        {{noteFromDatabase['forum']}}
      </td>
      <td class="header" id="completion">
        {{noteFromDatabase['completion']}}
      </td>
      <td class="header" id="priority">
        {{noteFromDatabase['priority']}}
      </td>
      <td class="header" id="short-description">
        {{noteFromDatabase['short-description']}}
      </td>
      <td class="header" id="long-description">
        {{noteFromDatabase['long-description']}}
      </td>
    </tr>
  </table>
</div>
